<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Sneakkish-Step Into Success</title>

    <!-- Favicon -->
    <link rel="icon" href="images/IMG_6513.PNG">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

    <style>

        .dropdown{
            position: relative;
            display: inline-block;
            
           
        }

        .dropdown a{
            position: relative;
            display: inline-block;
            font-size: large;
            padding-left: 20px;
            color: white;
           
        }
        


        .dropdown-content{
            display: none;
            position: absolute;
            background-color:black;
            min-width: 190px;
            box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2) ;
            z-index: 1000;
            right: 0;
        }

        .dropdown-content a{
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            width: 100%;

        }

        .dropdown-content a:hover{
            background-color: #716f6f;

        }
        .dropdown:hover .dropdown-content{
            display: block;
        }

        .header{
            position: relative;
            z-index: 500

        }

        /* Hover effect for the album thumb */
        .single-album-area .album-thumb {
            position: relative;
            overflow: hidden;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .single-album-area .album-thumb img {
            width: 100%;
            transition: transform 0.3s ease;
        }

        /* Hover effect */
        .single-album-area:hover .album-thumb img {
            transform: scale(1.1);
        }

        .single-album-area:hover .album-thumb {
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        }

        /* Optionally add hover effect for the album title */
        .single-album-area:hover .album-info h5 {
            color: #ff6600; /* Change color on hover */
        }



    </style>

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="/" class="nav-brand"><img src="images/IMG_6513.PNG" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    
                                    <li><a href="#">Category</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Mens</a></li>                                      
                                            <li><a href="event.html">Womens</a></li>
                                            <li><a href="blog.html">Kids</a></li>
                                            
                                               
                                        </ul>
                                    </li>
                                    <li><a href="#">Brands</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Nike</a></li>                                      
                                            <li><a href="event.html">Adiddas</a></li>
                                            <li><a href="blog.html">Puma</a></li>
                                            <li><a href="blog.html">Vans</a></li>
                                            <li><a href="blog.html">New Balnce</a></li>
                                            <li><a href="blog.html">Converse</a></li>
                                            <li><a href="blog.html">Reebok</a></li>
                                            <li><a href="blog.html">DC</a></li>

                                            
                                               
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">About</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>


                                <%if(locals.user){%>
                                    <div class="dropdown">
                                        <a href="#" class="sign-in-link"><%=locals.user.FirstName%></a>
                                        <div class="dropdown-content">
                                            <a href="/userProfile">Profile</a>
                                            <a href="/logout">Logout</a>
                                            
                                        </div>

                                    </div>

                                <%}else{%>


                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-50">
                                        <a href="/login" id="loginBtn">Login/Register</a>
                                    </div>
                                    <%}%>

                                
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>